@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@700&family=Roboto:wght@400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');

:root {
    --background-color: rgb(255, 255, 255);
    --letter-color: rgb(33, 33, 33);
    --select-color: rgb(33, 150, 243);
    --secondary-back: rgb(245, 244, 250);
    --footer-color: rgb(47, 48, 58);
    --descriptions: rgb(117, 117, 117);
    --border-icon: rgba(175, 177, 184, 1);
    --primary-color-trans: rgba(33, 150, 243, 0.8);
}

body {
    color: var(--letter-color);
    background: var(--background-color);
    font-family: roboto, relaway, sans-serif;
    font-size: 14px;
}

.container {
    width: 1200px;
    margin: auto;
}

svg {
    fill: currentColor;
}

.our__team {
    background-color: var(--secondary-back);
}

.footer {
    background-color: var(--footer-color);
}

/* encabezado */
.logo {
    font-family: Raleway;
    text-decoration: none;
    color: var(--select-color);
    text-align: right;
    font-size: 26px;
    letter-spacing: 0.78px;
    font-weight: 700;

    /* box */
    padding: 24px 0% 25px 0px;
}

.navigation_bar .nav_tap {
    font-weight: 500;
    letter-spacing: 0.28px;
    text-decoration: none;
    position: relative;

}

.navigation_bar {
    display: flex;
    list-style: none;
    column-gap: 50px;
    padding: 32px 0% 32px 93px;
    margin: 0;

}


.navigation_container {
    display: flex;
    align-items: center;
    margin: 0px auto;
}

.nav_tap {
    color: var(--letter-color);
    padding: 49px 0;
    position: relative;
}

.navigation_bar :hover {
    color: var(--select-color);
}

.navigation_bar :focus {
    color: var(--select-color);
}

.navigation > .navigation_bar .link:focus::after,
.navigation > .navigation_bar .link:active::after,
.navigation > .navigation_bar .current.link::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  background-color: var(--select-color);
  bottom: 16px;
  left: -1px;
}

.navigation > .navigation_bar .link:hover {
  color: var(--select-color);
}


.navigation_links ._link {
    color: var(--descriptions);
    font-weight: 500;

    letter-spacing: 0.28px;
    text-decoration: none;
}

.navigation_links {
    display: flex;
    list-style: none;
    column-gap: 50px;
    padding: 32px 0px 32px 344px;
    margin: 0;
}

.navigation_links :hover {
    color: var(--select-color);
}

.navigation_links :focus {
    color: var(--select-color);
}

.main_header {
    border-bottom: solid 0.1px;
    border-color: #ececec;
}

/* backdrop*/

.backdrop{


    background-color: rgba(0, 0, 0, 0.2);
}


/* backdrop*/



/* header */

/* section tittle */

.main_seccion {
    display: flex;
    height: 600px;
    align-items: center;
    margin: 0;
    background: rgba(47, 48, 58, 0.40);
}

.main_seccion {
    background-color: var(--footer-color1);
    background-image: linear-gradient(to bottom,
            rgba(162, 165, 166, 0.2) 0%,
            rgba(120, 120, 144, 0.4) 4%,
            rgba(91, 91, 108, 0.5) 16%,
            rgba(55, 54, 79, 0.5) 39%,
            rgba(26, 25, 56, 0.5) 74%,
            rgba(2, 0, 36, 1) 100%),
        url(../images/background.jpg);
    background-size: cover;
    text-align: center;
}

.main_seccion .main_title {
    color: var(--background-color);
    font-weight: 900;
    font-size: 44px;
    line-height: 1.4;
    letter-spacing: 0.06em;
    text-transform: uppercase;
}



.btn-primary {

    background-color: var(--select-color);
    color: var(--background-color);
    font-size: 16px;
    font-weight: 700;
    line-height: 1.87;
    letter-spacing: 0.96px;
    cursor: pointer;
    padding: 10px 32px;
    border: none;
    border-radius: 4px;
}


/* section tittle */


/* detailed section */
.detailed {
    display: flex;
    justify-content: center;
    padding-top: 95px;
}

.section_ul {
    list-style: none;
}

.detailed_ul {
    display: flex;
    justify-content: space-between;
    gap: 30px
}

.first_rectangle {

    width: 270px;
    border-radius: 4px;

}

.first_rectangle .job_title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.first_rectangle .job_description {
    color: var(--descriptions);
    font-size: 14px;
    line-height: 1.8;
    letter-spacing: 0.03em;
}

.bkg-about {
    width: 270px;
    height: 120px;
    background-color: var(--secondary-back);
}

.about-us-icon {
    margin: 25px 100px;
}


/* detailed section */

/* section dedication */

.our-services .services-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    text-align: center;
}

.pictures {
    list-style: none;
    padding: 0%;
}

.services-list {
    display: flex;
    gap: 30px;
    padding-top: 55px;
}

.services-item {
    position: relative;
}

.services-item-name {
    display: flex;
    width: 100%;
    height: 70px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.1;
    letter-spacing: 0.03em;
    justify-content: center;
    color: var(--background-color);
    background-color: var(--footer-color);
    text-align: center;
    align-items: center;
    text-transform: uppercase;

    position: absolute;
    top: 77%;
}


/* section dedication */

/* section our__team */

.our__team {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 708px;
}

.team_list {
    list-style: none;
}

.our__team_ul {
    display: flex;
    gap: 37px;
    padding-top: 50px;

    padding-left: 0px;
}

.our__team .team_title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    text-align: center;
}

.our__team_image {
    background-color: var(--background-color);
    box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.20), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
}

.services-item-name {
    background: rgba(47, 48, 58, 0.80);
}

.our__team_image .name_worker {
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.03em;
    text-align: center;
}

.our__team_image .profesion {
    color: var(--descriptions);
    line-height: 1.2;
    letter-spacing: 0.03em;
    text-align: center;
}

.social-networks-list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 16px 32px 30px 32px;
    list-style: none;
}

.social-networks-item {
    background-color: var(--background-color);
    color: var(--border-icon);
    border-radius: 50%;
    width: 44px;
    height: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.social-networks-item:hover {
    background-color: var(--select-color);
    color: var(--background-color);
    cursor: pointer;
}

.social-networks-item:focus {
    background-color: var(--select-color);
    color: var(--background-color);
}

/* section our__team */


/* section regular_customers*/



.clients-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    text-align: center;
}

.clients-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 44px;
}

.clients-item {
    width: 170px;
    height: 81px;
    border: 1px solid var(--border-icon);
    color: var(--border-icon);
    border-radius: 4px;
    display: flex;
    align-items: center;
}

.clients-item:hover {
    border-color: var(--blue-text);
    color: var(--blue-text);
    cursor: pointer;
}

.clients-icon-left {
    padding: 21px 60px;
}

.clients-icon {
    padding: 21px 45px;
}

.link {
    color: var(--border-icon);
}

.link:visited {
    color: var(--border-icon);
}

.link:hover {
    color: var(--select-color)
}

/* section regular_customers*/

/* section portafolio inicio*/
.linea {
    border: 1px solid #ececec;
    margin: 0px;
}


li {
    padding-inline-start: 0px;
}

.list1 {
    list-style-type: none;
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
    margin-top: 50px;

}



.button-0 {

    background-color: #F5F4FA;
    width: auto;
    border: 0;
    list-style-type: none;
    font-family: Roboto;
    font-weight: 500px;
    font-size: 16px;
    line-height: 1.6;
    margin-right: 8px;
    padding: 6px 24px;
    border-radius: 4px;
}

.filters .list1 .button-0:hover,
.filters .list1 .button-0:focus {
    color: white;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
        0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    background: #2196f3;
}

/* section portfolio inicio */

/* section projects */

.list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    list-style-type: none;

    padding-left: 0px;
    padding-right: 0px;
}

.portfolio-item {
    width: 370px;
    background-color: var(--blue-text);
    cursor: pointer;
}
.portfolio-item:hover .img-text {
    transform: translateY(-100%);
}

.img-container {
    width: 370px;
    height: 294px;
    overflow: hidden;
}

.img {
    display: block;
    object-fit: cover;
    max-width: 100%;
    line-height: 0;
}

.img-desc {
    color: var(--background-color);
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0.54px;
    margin: 0;
}
.portfolio-title > h3,
p {
    margin: 0;
}

.portfolio-title > h3 {
    color: #212121;
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height:2;
    letter-spacing: 1.08px;
}

.portfolio-title > p {
    color: #757575;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.8;
    letter-spacing: 0.48px;
}
.portfolio-title {
    padding: 20px 24px 54px 24px;
}

.img-text {
    width: 370px;
    height: 294px;
    background-color: var(--primary-color-trans);
    padding: 63px 24px;
    transition: transform 250ms ease-in;
    transform: translateY();
}

.portfolio-item:hover {
    box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16), 0px 4px 4px 0px rgba(0, 0, 0, 0.06), 0px 1px 1px 0px rgba(0, 0, 0, 0.12);
}

.portfolio-item:focus {
    box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16), 0px 4px 4px 0px rgba(0, 0, 0, 0.06), 0px 1px 1px 0px rgba(0, 0, 0, 0.12);
}






/* section projects */

.section {
    margin-top: 94px;
    margin-bottom: 94px;
}

/* modal */

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    opacity: 1;
    visibility: visible;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
    display: flex;
    z-index: 1;
}

.modal {
    width: 528px;
    height: 581px;
    background-color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

/* modal */




/* footer */

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 60px;
    padding-bottom: 60px;
}

.general-footer {
    display: flex;
    gap: 70px;
}

.footer_logo {
    color: var(--select-color);
    font-family: Raleway;
    font-size: 26px;
    font-weight: 700;
    letter-spacing: 0.78px;
}

.footer .logo {
    margin-top: 0px;
    margin-bottom: 9px;

}

.foot_links .contact_address {
    color: var(--background-color);
    font-weight: 400;
    line-height: 1.71;
    letter-spacing: 0.42px;
    text-decoration: none;
}

.foot_links .contact {
    color: rgba(255, 255, 255, 0.6);
    font-weight: 400;
    line-height: 1.71;
    letter-spacing: 0.42px;
    text-decoration: none;
}

.foot_links {
    list-style: none;
    padding: 0%;
}

.foot_links :hover {
    color: var(--select-color);
}

.footer-social-networks {
    justify-content: center;
    align-items: center;
}

.text-social-networks {
    color: var(--background-color);
    font-weight: 700;
    font-size: 14px;
    font-style: normal;
    line-height: 1.1;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-align: left;
    padding-left: 32px;
}

.social-networks-item {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    width: 44px;
    height: 44px;
    gap: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.social-networks-item-footer:hover {
    background-color: var(--select-color);
    cursor: pointer;
}

.social-networks-icon-footer {
    fill: var(--background-color);
}

/* footer */